p {
  text-align: center;
}

.p1 {
  font-size: large;
  color: aqua;
  text-transform: uppercase;
  text-decoration: underline;
}

i {
  color: rgb(255, 98, 0);
}
.b-warna {
  color: rgb(137, 38, 229);
  text-align: center;
}
#u {
  font-size: 30px;
  background-color: yellow;
}
/* body {
  background-image: url("../image/remove-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
} */
